.nav-img{
    height: 50px;
    width: 50px;
}


body{
	background-image: url("../Images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
    color: aqua;
    background: #009c8e;

}