.nav-img{
    height: 75px;
    width: 75px;
}

.navbar2{

}

body{
	background-image: url("../Images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	background-attachment: scroll;
}

.nav-item{
	padding: 7px;
	font-size: larger;
	margin-bottom: 1vh;
}

.nav-item:hover{
	border-top: 5px solid white;
}